/* css reset */
html,
body {
	margin: 0px;
	padding: 0px;
	font-family: "Lato", sans-serif;
	height: 100%;
	line-height: 1.8em;
}

/* all parts */
#part1 {
	background: url(img/image1.png) no-repeat center center/cover;
	min-height: 100%;
}

#part2 {
	background: url(img/image2.png) no-repeat center center/cover;
	min-height: 400px;
}

#part3 {
	background: url(img/image3.png) no-repeat center center/cover;
	min-height: 400px;
}

#part1,
#part2,
#part3 {
	position: relative;
	background-attachment: fixed;
}

/* all sections */
.sec {
	padding: 80px;
	background-color: #282e34;
	color: #ddd;
}

#sec1 {
	color: #666;
	background: #f4f4f4;
}

/* boxes */
.box {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}

/* tools */
span {
	font-size: 1.7rem;
	background: rgb(74, 73, 73);
	padding: 15px;
	color: whitesmoke;
	letter-spacing: 8px;
	text-transform: uppercase;
}

h3 {
	margin: 0;
	font-size: 1.4rem;
	text-align: center;
}

p {
	text-align: justify;
}