@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general */
:root {
    --lighting-color: #0089b7;
    --dark-color: #003d62;
    --darker-color: #003251;
    --secondary-color: #fff700;
}
html,body{
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    color: white;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.4rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 1300px;
    margin: 0px auto;
}
/* nav section */
header{
    position: sticky;
    top: 0;
    height: 8vh;
    background: var(--lighting-color);
    z-index: 2;
    padding: 1rem;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav li{
    font-size: 1.8rem;
    font-weight: 300;
    border-bottom: 4px solid transparent;
    transition: 0.2s ease-in;
}
.nav li:hover{
    border-bottom: 4px solid yellow;
    transition: 0.2s ease-in;
}
/* home section */
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#home{
    background: var(--dark-color);
    padding: 4rem 1rem;
    border-bottom: 4px solid var(--lighting-color);
}
.home-content h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
}
.home-content span:nth-child(1){
    color: yellow;
    font-size: 5.8rem;
    font-weight: bold;
}
.home-content span:nth-child(2){
    font-size: 5rem;
    font-weight: bold;
}
.home-content h2{
    font-size: 4rem;
    overflow: hidden; /* Ensures the content is not revealed until the animation*/
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /*Keeps the content on a single line*/
    margin: 0 auto; /* Gives that scrolling effect as the typing happens*/
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}
@keyframes blink-caret {
    from,
    to{
      border-color: transparent;
    }
    50%{
      border-color: orange;
    }
}
/* projects section */
#proj{
    background: var(--darker-color);
    padding: 3rem 1rem;
}
#proj h1{
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.project{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}
.grid_item{
    display: grid;
    place-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
    transition: 1s ease-in-out;
}
.card:hover img{
    transition: 0.3s ease-in-out;
    opacity: 0.8;
    transform: scale(1.05);
}
.card_content{
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    padding: 20px;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
    text-align: center;
}
.card:hover .card_content{
    transform: translateY(0px);
    transition: 0.5s ease-in-out;
    background: white;
    color: var(--dark-color);
}
/* contact section */
#contact{
    background: var(--dark-color);
    display: grid;
    place-items: center;
    padding: 13rem 1rem;
    text-align: center;
}
.link h1{
    font-size: 5.3rem;
    margin-bottom: 5rem;
}
.link ul{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 2rem;
}
.link li{
    font-size: 3rem;
    font-weight: 700;
}
/* footer section */
footer{
    background: var(--darker-color);
    padding: 1.8rem 1rem;
}
.foot{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
}
@media (max-width:786px){
    img{
        width: 100%;
    }
    header{
        height: 14vh;
    }
    .nav{
        flex-direction: column;
    }
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .hero span:nth-child(1){
        font-size: 4rem;
    }
    .hero span:nth-child(2){
        font-size: 3.5rem;
    }
    .link ul{
        flex-direction: column;
    }
}