/* css reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/* navbar */
#navbar{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}
#navbar::before{
    content: " ";
    background: black;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;
    opacity: 0.5;
    height: 90%;
    width: 100%;
}
/* navbar: logo */
#logo{
    margin: 0px 30px 6px 6px;
}
#logo img{
    margin: 5px 5px 2px;
    height: 50px;
}
/* navbar: list */
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 17px;
}
#navbar ul li a:hover{
    color: black;
    background: white;
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 200px;
    align-items: center;
    height: 300px;
    font-family: 'Roboto Mono', monospace;
}
#home::before{
    content: " ";
    background: url('../img/bg.jpg') no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    opacity: 0.85;
    top:0px;
    left:0px;
    height: 60%;
    width: 100%;
}
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.9rem;
}
/* services */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 15px;
    border-radius: 35px;
    margin: 2px 10px 15px;
    background: rgb(237, 220, 199);
}
#services .box img{
    height: 130px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: 'Roboto Mono', monospace;
}
/* clients section */
#client-section{
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('../img/bg2.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.5;
}
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 85px;
}
/* contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    background: url('../img/contact.jpg') no-repeat center center/cover;
    position: absolute;
    height:100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#contactbox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34px;
}
#contactbox input,
#contactbox textarea{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1.1rem;
}
#contactbox input[type="submit"]{
    background: rgba(246, 84, 84, 0.872);
    width: 104%;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: 'Roboto Mono', monospace;
}
#contactbox input[type="submit"]:hover{
    background:  rgba(255, 67, 67, 0.726);
}
#contactbox form{
    width: 40%;
}
#contactbox label{
    font-size: 1.3rem;
    font-family: 'Roboto Mono', monospace;
    margin: 2px;
}
/* footer */
footer{
    background: #000;
    color: white;
    padding: 6px;
}
/* utility classes */
.btn{
    background:rgba(3, 217, 146, 0.84);
    color:white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 6px 15px;
    margin: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.8s ease;
}
.btn:hover{
    background: white;
    color: black;
}
.hprimary{
    font-family: 'Roboto Mono', monospace;
    font-size: 3.6rem;
    padding: 5px;
}
.hsecondary{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
    padding: 5px;
}
.center{
    text-align: center;
}